In [1]:
!pip install splinter

Requirement already satisfied: splinter in c:\users\heexps\anaconda3\envs\pythondata\lib\site-packages
Requirement already satisfied: selenium>=3.4.3 in c:\users\heexps\anaconda3\envs\pythondata\lib\site-packages (from splinter)

In [2]:
from splinter import Browser
from bs4 import BeautifulSoup

### GET P and T

In [3]:
browser = Browser('chrome', headless=False)
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

sidebar = soup.find('ul', class_='item_list ')

categories = sidebar.find_all('li')

# category_list = []
# url_list = []
# book_url_list = []
# for category in categories:
#     title = category.text.strip()
#     category_list.append(title)
#     book_url = category.find('a')['href']
#     url_list.append(book_url)

# book_url_list = ['http://books.toscrape.com/' + url for url in url_list]

# titles_and_urls = zip(category_list, book_url_list)

# for title_url in titles_and_urls:
#     browser.click_link_by_partial_text('next')

news_t = categories[0].find('h3').text
news_p = categories[0].find('a').text
news_i = categories[0].find_all('img')[1]

In [4]:
print(categories[0])

<li class="slide"><div class="image_and_description_container"><a href="/news/8313/seven-ways-mars-insight-is-different/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">NASA has a long and successful track record at Mars. Since 1965, it has flown by, orbited, landed and roved across the surface of the Red Planet. What can InSight -- planned for launch in May -- do that hasn’t been done before?</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="" src="/system/news_items/list_view_images/8313_PIA22228_320.jpg"/></div><div class="bottom_gradient"><div><h3>Seven Ways Mars InSight is Different</h3></div></div></a><div class="list_text"><div class="list_date">February 22, 2018</div><div class="content_title"><a href="/news/8313/seven-ways-mars-insight-is-different/" target="_self">Seven Ways Mars InSight is Different</a></div><div class="article_teaser_body">NASA has a long and successful track record at Mars. Since 1965, it has flown by, orbited, landed and roved across the surface of the Red Planet. What can InSight -- planned for launch in May -- do that hasn’t been done before?</div></div></div></li>

### GET IMG

In [18]:
browser = Browser('chrome', headless=False)
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# sidebar = soup.find('body', class_='centered_text clearfix main_feature primary_media_feature single')
sidebar = soup.find('div', class_="carousel_items")



# categories = sidebar.find_all('article')

# category_list = []
# url_list = []
# book_url_list = []
# for category in categories:
#     title = category.text.strip()
#     category_list.append(title)
#     book_url = category.find('a')['href']
#     url_list.append(book_url)

# book_url_list = ['http://books.toscrape.com/' + url for url in url_list]

# titles_and_urls = zip(category_list, book_url_list)

# for title_url in titles_and_urls:
#     browser.click_link_by_partial_text('next')

# news_t = categories[0].find('h3').text
# news_p = categories[0].find('a').text
# news_i = categories[0].find_all('img')[1]

In [10]:
import cssutils

In [16]:
div_style = sidebar.find('article')['style']
style = cssutils.parseStyle(div_style)
iurl = style['background-image']
iurl = iurl.replace('url(', '').replace(')', '') 
iurl

'/spaceimages/images/wallpaper/PIA18048-1920x1200.jpg'

In [24]:
imageurl = "https://www.jpl.nasa.gov/" + iurl

In [26]:
imageurl2

'https://www.jpl.nasa.gov//spaceimages/images/wallpaper/PIA18048-1920x1200.jpg'

###GET STATUS

In [63]:
browser = Browser('chrome', headless=False)
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# sidebar = soup.find('body', class_='centered_text clearfix main_feature primary_media_feature single')
# sidebar = soup.find('div', class_="js-tweet-text-container")
sidebar = soup.find('div', class_="js-tweet-text-container")

In [64]:
weather = sidebar.text

In [66]:
weather = weather.rstrip()

In [68]:
weather = weather.lstrip()

In [69]:
weather

'Sol 1970 (Feb 20, 2018), Sunny, high -16C/3F, low -77C/-106F, pressure at 7.32 hPa, daylight 05:38-17:26'

In [72]:
import pandas as pd

In [88]:
table = pd.read_html("https://space-facts.com/mars/")
df = table[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [106]:
df = df.set_index(0)

KeyError: 0

In [108]:
df.rename(columns={1:'value'}, inplace=True)
df.index.name = None
df

                                              value
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [109]:
df.to_html('stats.html')

In [110]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"},
    {"title": "Cerberus Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"},
]